<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringOracle" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=creatar)));User Id=creatar;Password=creatar"/>
    <add key="ConnectionStringAccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\伍新生E\CinserNew\CinserNew\Cinser.Demo.Wpf\bin\Debug\Data\GERAS.accdb"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
